# IDE
.idea
.DS_Store
test/coverage/
# Node modules
node_modules

# Adonis directory for storing tmp files
.nyc_output

# Environment variables, never commit this file
.env
.env.testing
.env.production
public/docs
tmp/caches

# The development sqlite file
database/*.sqlite
database/*.sqlite-journal
tmp/*.log
